---
# tasks file for roles/apache
- name:  installing packages    apache
  yum: 
    name: "{{ item }}"
    state: "installed"
  with_items:
    - "{{ pack }}"

- name: copying the template 
  template:
    src: "httpd.conf.j2"
    dest: "/etc/httpd/conf/httpd.conf"
 

- name: service start
  service:
    name: "httpd"
    state: "restarted"
